.chat-main
  .chat-main__group
    .chat-main__group--info
      .group-name
        = @group.name
        .user-name
          Menber : &nbsp
          - @group.users.each do |user|
            .member
              =user.name
      = link_to edit_group_path(@group), class: "edit-btn" do
        edit
  .chat-main__message--list
    .chat
      = render @messages
  .chat-main__message--form
    .form
      = form_for [@group, @message] do |f|
        .form-tab
          .form-box
            = f.text_field :content, class: 'form-box__input', placeholder: 'type a message'
            = f.label :image, class: 'form-box__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'form-box__image__file'
          = f.submit 'Send', class: 'form-box-btn'    
